$primary: #2f3951;
$secondary: #f0d288;
$background: #131824;
$primaryLight: #3f4b67;
$hover: #65759b;
$error: #f18b7e;

$font: 'YS Text', Roboto, Helvetica, Arial, sans-serif;
$titleFont: 'Garamond', sans-serif;
$fontMono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$baseFontSize: 20px;
$baseFontColor: white;

$mainFontSize: 1.4em;
$titleFontSize: 6em;
$headerElementsSize: 2rem;
$headerHeight: 5.5rem;

$maxPageWidth: 1110px;
$defaultPadding: 2.5rem;

$defaultBorder: 1px solid gray;
$overlayBackground: rgba(0, 0, 0, 0.8);
